/* Style for coding examples */
div #nav {
padding: 40px;

font-size: 18px;
}
.examples {
	font-family: monospace, sans-serif, serif;
	font-size: 12px;
	line-height: 16px;
	background: #eee;
	background: #f7f7f7;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}
/* Style for colored squares/circles example */
.square {

  position: absolute;
}

.circle {

  border-radius: 50%;
  position: absolute;
}

#elementarea {
  width: 700px;
  height: 300px;
  border: 2px solid black;
  position: relative;
}

div#cirle-container {
  float: center;
  height: 50%;
  width: 50%;
  position: relative;
}

div#main {
    height: 300px;
    width: 300px;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.root-button {
    float: center;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.root-button:hover {
    background: #262626;
}
.root-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.pair {
  margin: 10px;
}

.pair small {
  margin-left: 10px;
}

label {
  padding: 4px;
}
input, textarea {
  border-radius: 3px;
  border: 1px solid #B0B0B0;
  padding: 4px;
}
input.error, textarea.error {
  border: 2px solid #FF6666;
  background-color: rgba(255, 102, 102, .2);
}
label.error, span.error {
  font-weight: 400;
  color: #FF6666;
}
.submit {
  border-radius: 5px;
  padding: 10px;
  background-color: #E6F0F5;
}
.submit:hover {
  font-weight: 400;
  background-color:#80B2CC;
}
.success {
  color: #009900;
  margin-left: 10px;
}
  canvas {
    display: inline;
    border: 1px solid #000;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    top: 0;

    bottom: 0;
    right: 0;
    left: 0;
  }

body {
  padding: 0;
  margin: 0;
  /* background-color: #EFEFEF; */
/*  background-color: #A7DDF7;*/
  font-family: 'Quicksand', sans-serif;
}

/*header style: */

h1 {
	padding: 10px;
	margin: 20px;

}

h2 {
	padding: 10px;
	margin: 10px;
}

h3 {
	padding: 10px;
	margin: 10px;
}

table, th, td {
  width: 50%;
  border-left: 25%;
  border-right: 25%;
  vertical-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
  padding: 15px;
  margin: 10px;
}
table {
    border-spacing: 5px;
}
table tr:nth-child(even){
  background-color: #A7DDF7;
}
table tr:nth-child(odd){
  background-color: #6153ce;
}

#header {
  /* width: 95%; */
  margin-left: 10px;
  margin-right: 10px;
  height: 80px;
  /* background-color: #6C91B5; */
}

#header > div.text {
  padding-bottom: 20px;
}

#header > div.text > span {

  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
  text-align: right;
  margin: 0
}

div#navigation {
  float: center;
  margin-top: -30px;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  background: #ccc;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  float: left;
  margin: 2px;
  padding: 2px 0px;
}

#navigation a {

  color: #666;
  font-weight: bold;
  margin: 2px;
  padding: 5px 10px;
  text-decoration: none;
}

#canvas {
  float: left;
}

#navigation a:hover {
  color: #333;
}

#navigation #currentpage {
  background: #6153ce;

}

div.content {
  clear: both;
  background-color: #fefefe;
  border: 1px solid #999;
  padding: 2.5%; /* because width of nav is 95% */
}

#footer > div.logo {
  padding-bottom: 5px;
  padding-top: 10px;
}

#footer {
  clear: both;
	text-align: center;
}


.error {
  color: #FF0901;
}

/* Styles used in form_validation.php */
legend {
  font-weight: 400;
}

.pair {
  margin: 10px;
}

.pair small {
  margin-left: 10px;
}

label {
  padding: 4px;
}
input, textarea {
  border-radius: 3px;
  border: 1px solid #B0B0B0;
  padding: 4px;
}
input.error, textarea.error {
  border: 2px solid #FF6666;
  background-color: rgba(255, 102, 102, .2);
}
label.error, span.error {
  font-weight: 400;
  color: #FF6666;
}
.submit {
  border-radius: 5px;
  padding: 10px;
  background-color: #E6F0F5;
}
.submit:hover {
  font-weight: 400;
  background-color:#80B2CC;
}
.success {
  color: #009900;
  margin-left: 10px;
}




