@charset "UTF-8";
/* CSS Document */

.booth {
	width:400px;
	background:#ccc;
	border:10px solid;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}