

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    background: #fff;
    padding: 15px;
    width: 200px;
    display:inline-block;
  }
  .damage {
    display: inline-block;
    text-align: left;
    position: relative;
    bottom:0;
    left: 20px;
    color:red;
  }
  
  .health {
    display: inline-block;
    text-align: right;
    position: relative;
    bottom:0;
    left: 100px;
    color:rgb(58, 240, 58);
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .damage:hover{
    color:rgb(85, 87, 255);
    background-color: rgba(125, 15, 228, 0.226);
    box-shadow: 0 8px 16px 0 rgba(228, 15, 15, 0.856);
  }
  .health:hover{
    color:rgb(64, 251, 251);
    background-color:rgba(75, 14, 65, 0.322);
    box-shadow: 0 8px 16px 0 rgba(4, 255, 79, 0.856);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .image {
      padding: 2px,2px,2px,2px;
      position: relative;
      left:20px;
  }
  #player-cards{
    background-color:rgb(41, 158, 194);
    padding:3px;
    margin:2px;
  }
  #opponent-cards{
    background-color:rgb(105, 26, 105);
    padding:3px;
    margin:2px;
  }

  /*UI Section */

  button {
 
    display: inline-block;
    height: 50px;
    width: 100px;
    margin:10px;
    padding:4px;
    background: #ce477f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    color: rgba(66, 59, 59, 0.55);
    text-align: center;
    background: linear-gradient(top, #34696f, #2f5f63); 
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
   }
    
   button:hover {
    background: #ff97ee;
   }


.info {
	
	background: url('../img/fractal1.jpg');
	-webkit-background-clip: text;
	color: transparent;
	animation: dynamic 10s infinite alternate-reverse;
	white-space: nowrap;
	
}

@media screen and (max-width: 480px) {
	.info {
		font-size: 70px;
	}
}

@keyframes dynamic {
	
	0% {	background-position: 0% }
	100% {	background-position: 100%; }
	
}

/*Modal Section */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  /* The Card for upgrades and revive */
.card-focus {
    display: none; /* Hidden by default */
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color:#5cb2b8;
    color: rgba(66, 59, 59, 0.55);
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb2b8;
    color: rgba(66, 59, 59, 0.55);
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

/*dashboard styles for highscore and logout*/

  .demo-table {
    background: #ffffff;
    border-spacing: initial;
    margin: 15px auto;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    color: #333;
    border-radius: 4px;
    padding: 30px;
    width: 380px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.demo-table .label {
    color: #888888;
}

.demo-table .field-column {
    padding: 15px 10px;
}

.demo-input-box {
    padding: 13px;
    border: #CCC 1px solid;
    border-radius: 4px;
    width: 100%;
}

.btnLogin {
    padding: 13px;
    background-color: #5d9cec;
    color: #f5f7fa;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    border: #5791da 1px solid;
    font-size: 1.1em;
}

.terms {
  margin-bottom: 5px;
}

.dashboard {
  background: #d2edd5;
  text-align: center;
  margin: 15px auto;
  line-height: 1.8em;
  color: #333;
  border-radius: 4px;
  padding: 30px;
  max-width: 400px;
  border: #c8e0cb 1px solid;
}
.error-info {
  color: #FF0000;
  margin-left: 10px;
}
a.logout-button {
  color: #09f;
}