@charset "utf-8";
/* CSS Document */
body {
	background-color: white;
}
.square_custom {
	width: 50px;
	height: 50px;
	position: absolute;
}
.circle_custom {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
}
.triangle_custom {
	width: 0px;
	height: 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid white;
	position: absolute;
	rotation: 180deg;
}

#art {
	width: 800px;
	height: 400px;
	position: relative;
	background-color: black;
}
